.container__question{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 20px;
    margin-bottom: 10px;
}

.question__radio{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}