.container__chips{
    background-color: white;
    min-height: 0px;
}

.skills__h3{
    padding: 10px 0px;
}

.skills__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__input{
    height: 40px;
    width: 100%;
    border: none;
    padding: 0px 5px;
    margin-top: 10px;
    letter-spacing: 0.6px;
}

.skills__textarea{
    width: 100%;
    border: none;
    padding: 5px;
}

.skills__languages{
    background-color: white;
    padding: 10px 20px;
}